<app-header></app-header>

<div class="card text-center main-card">
  <div class="card-header" style="background: #f3f3f3; font-weight: bold; padding-top: 1.5rem; padding-bottom: 1.5rem;">Створення опитування</div>
  <div class="card-body">
    <form id="createPollForm" #createPollForm="ngForm">
      <div class="form-group" style="margin-top: 1.5rem;">
        <input type="text" class="input form-control" id="pollTitle" name="pollTitle" placeholder="Заголовок"
               style="min-height: 3rem;" #pollTitle="ngModel" [(ngModel)]="poll.title" required autocomplete="off">

        <div *ngIf="pollTitle.errors && (pollTitle.dirty || pollTitle.touched)" class="alert alert-danger" style="margin-top: 1rem;">
          <div [hidden]="!pollTitle.errors.required">Поле "Заголовок" є обов'язковим для заповнення!</div>
        </div>

        <textarea class="textarea form-control" id="pollDescription" name="pollDescription"
                  placeholder="Опис опитування" style="min-height: 3rem; margin-top: 1.5rem;"
                  #pollDescription="ngModel" [(ngModel)]="poll.description" autocomplete="off"></textarea>

        <div *ngIf="pollDescription.errors && (pollDescription.dirty || pollDescription.touched)" class="alert alert-danger" style="margin-top: 1rem;">
          <div [hidden]="!pollDescription.errors.required">Поле "Опис опитування" є обов'язковим для заповнення!</div>
        </div>

        <p style="margin-top: 1.5rem;">Опції </p>

        <div *ngFor="let pollOption of poll.options; index as i;" id="pollOptionDiv-{{i}}" style="margin-top: 1rem; display: flex;">
          <input type="text" class="input form-control" id="pollOption-{{i}}-{{pollOptionsCount}}" name="pollOption-{{i}}-{{pollOptionsCount}}"
                 placeholder="Опція" ngModel [(ngModel)]="pollOption.value" required autocomplete="off">

          <button class="btn" style="color: #f3f3f3; background-color: #707070; height: 100%; margin-left: 0.5rem;"
                  [disabled]="i == 0 || i == 1" (click)="removePollOption(i);">&nbsp;x&nbsp;</button>
        </div>

        <button class="btn" style="color: #f3f3f3; background-color: #707070; margin-top: 1rem;"
                (click)="addPollOption();">Додати опцію</button>

        <input type="date" class="input form-control" id="pollDueDate" name="pollDueDate" placeholder="Дата закінчення дії"
               style="min-height: 3rem; margin-top: 3rem;" #pollDueDate="ngModel" [(ngModel)]="poll.dueDate" required autocomplete="off"
               min="{{currentDateString}}">
        <label for="pollDueDate" style="display: flex; padding-left: 1rem; color: #707070;">Дата закінчення дії</label>

        <div *ngIf="pollDueDate.errors && (pollDueDate.dirty || pollDueDate.touched)" class="alert alert-danger">
          <div [hidden]="!pollDueDate.errors.required">Поле "Дата закінчення дії" є обов'язковим для заповнення!</div>
        </div>

        <p style="margin-top: 1.5rem;">Доступ до опитування </p>

        <div class="groups-div">
          <div *ngFor="let groupName of chosenGroupNames; index as i;" id="addedGroups-{{i}}"
               class="group-div">
            <input type="text" class="input form-control" id="addedGroup-{{i}}" name="addedGroup-{{i}}"
                   autocomplete="off" value="{{groupName}}" disabled>

            <button class="btn" style="color: #f3f3f3; background-color: #707070; height: 100%;"
                    (click)="removeGroupOption(i);">&nbsp;x&nbsp;</button>
        </div>
        </div>

        <input id="pollAccessInput" name="pollAccessInput" class="form-control" list="pollAccessDatalist" autocomplete="off"
               placeholder="Вкажіть назву группи" [(ngModel)]="groupNameInputValue" (input)="addGroupOption();">
        <datalist id="pollAccessDatalist">
          <option *ngFor="let groupName of groupNames" class="option">{{groupName}}</option>
        </datalist>

        <div style="display: flex">
        <input type="checkbox" class="input form-control" id="pollIsRequired" name="pollIsRequired"
               style="height: 1.5rem; margin-top: 1.5rem; width: 1.5rem; margin-left: 1rem;"
               [(ngModel)]="poll.requiredForFilling" autocomplete="off" [disabled]="chosenGroupNames.length == 0">
        <label for="pollIsRequired" style="display: flex; padding-left: 1rem; color: #707070; margin-top: 1.5rem;">Опитування обов'язкове до заповнення</label>
        </div>

        <p style="margin-top: 1.5rem;">Опитування анонімне для </p>

        <div class="anonymous-div">
          <div class="anonymous-div-i">
            <input type="checkbox" class="input form-control" id="pollAnonymousForAccessed" name="pollAnonymousForAccessed"
                   style="height: 1.5rem; width: 1.5rem; margin-left: 1rem;" #pollAnonymousForAccessed="ngModel" [(ngModel)]="poll.anonymousForAccessed" autocomplete="off">
            <label for="pollAnonymousForAccessed" style="display: flex; padding-left: 1rem; color: #707070;">тих кому доступне</label>
          </div>

          <div class="anonymous-div-i">
            <input type="checkbox" class="input form-control" id="pollAnonymousForOwner" name="pollAnonymousForOwner"
                   style="height: 1.5rem; width: 1.5rem; margin-left: 1rem;" #pollAnonymousForOwner="ngModel" [(ngModel)]="poll.anonymousForOwner" autocomplete="off">
            <label for="pollAnonymousForOwner" style="display: flex; padding-left: 1rem; color: #707070;">Вас як власника</label>
          </div>

          <div class="anonymous-div-i">
            <input type="checkbox" class="input form-control" id="pollAnonymousForReacted" name="pollAnonymousForReacted"
                   style="height: 1.5rem; width: 1.5rem; margin-left: 1rem;" #pollAnonymousForReacted="ngModel" [(ngModel)]="poll.anonymousForReacted" autocomplete="off">
            <label for="pollAnonymousForReacted" style="display: flex; padding-left: 1rem; color: #707070;">тих хто проголосував</label>
          </div>
        </div>
      </div>

      <button [disabled]="!createPollForm.form.valid" type="button" class="btn create-btn">Створити опитування</button>
    </form>

  </div>
</div>
