<app-header></app-header>

<div class="group-main-div">

  <div class="group-left-div">
    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; text-align: center;
                background-color: #f9f9f9;">
      <p style="margin-top: 1rem;">{{group.title}}</p>
    </div>

    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; padding: 0.5rem;
                margin-top: 0.5rem; background-color: #f9f9f9; text-align: center;">
      <h6>Учасники:</h6>

      <p *ngFor="let member of group.memberNames">{{userNamesMap[member]}}</p>
    </div>
  </div>

  <div class="group-center-div">
    <div style="display: flex;">
      <h4>Група</h4>
      <div style="text-align: right; width: 100%;">
        <a *ngIf="this.group.memberNames.includes(this.loggedUsername)" href="editGroup/{{group.id}}" class="bi bi-pencil-square" style="margin: auto; font-size: 1.5rem; color: #707070;"></a>
      </div>
    </div>

    <div style="margin-top: 1rem;">
      <p>Назва: {{group.title}}</p>
    </div>

    <div style="margin-top: 1rem;">
      <p>Опис: {{group.description}}</p>
    </div>

    <div style="margin-top: 1rem;">
      <label for="groupAccessToken">Посилання для доєднання до групи:</label><br>
      <input type="text" id="groupAccessToken" disabled value="{{selfUrl + 'joinGroup/' + group.accessToken}}"
        style="width: 100%;">

    <h6 style="margin-top: 1rem;">Опитування групи:</h6>

    <div *ngFor="let poll of polls" id="poll-div-{{poll.id}}" style="background-color: white;
         margin-top: 1rem; border-radius: 5px; padding: 1rem;" [ngClass]="poll.requiredForFilling === true ? 'required-border' : ''">
      <div style="display: flex;">
        <a href="viewPoll/{{poll.id}}" style="color: #707070; font-weight: bold; width: 100%;">{{poll.title}}</a>

        <a href="viewPoll/{{poll.id}}" class="bi bi-eye-fill" style="margin: auto; font-size: 1.5rem; color: #707070;"></a>
      </div>

      <p *ngIf="poll.description" id="poll-desc-{{poll.id}}" class="text-with-three-dots three-lines-text" style="margin-top: 1rem; margin-bottom: 0;">{{poll.description}}</p>

      <button style="margin-top: 0; color: #707070; padding: 0;" class="btn bi bi-zoom-in" (click)="disableTextOverflow('poll-desc-' + poll.id)"></button>

      <div *ngIf="poll.options.length > 0" style="margin-top: 1rem;">
        <div *ngFor="let option of poll.options" [ngClass]="poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce ? 'progress' : 'form-check'" style="margin-bottom: 0.5rem; width: 100%; padding-left: 0; min-height: 2.5rem;">
          <input *ngIf="!(poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce)" class="btn-check" type="radio" name="poll-{{poll.id}}-option" value="{{option.id}}"
                 id="poll-{{poll.id}}-option-{{option.id}}" (input)="selectOption(poll.id);">
          <label *ngIf="!(poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce)" class="btn btn-outline-secondary" for="poll-{{poll.id}}-option-{{option.id}}" style="width: 100%;">
            {{option.value}}
          </label>

          <div *ngIf="poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce" class="progress-bar progress-bar-striped" role="progressbar" title="{{option.value}}"
               [ngStyle]="{'width.%': option.votes > 0 && poll.canVoteOnlyOnce ? 100 : calculateOptionPercentage(poll.id, option.id), 'background-color': poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce ? '#707070' : 'darkgrey'}"
               style="height: 2.5rem;">{{option.votes > 0 && poll.canVoteOnlyOnce ? option.value : calculateOptionPercentage(poll.id, option.id) + '%'}}</div>
        </div>

        <button *ngIf="!poll.haveMeVoted" class="btn btn-vote" id="poll-submit-{{poll.id}}" (click)="vote(poll.id);">Проголосувати</button>
      </div>

      <a href="viewPoll/{{poll.id}}" style="color: #707070; font-weight: bold; margin-top: 1rem;">Детальніше >></a>
    </div>

    <button *ngIf="polls.length > 0" class="btn btn-create-poll" style="margin-top: 3rem; margin-bottom: 0.5rem;"
            id="loadMoreBtn" (click)="loadMorePolls();">Завантажити ще</button>
  </div>
</div>
</div>
