<app-header></app-header>

<div class="card text-center font-registration main-card">
  <div class="tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item"
          style="width: 50%; background: #f3f3f3; color: black; font-weight: bold; /*border-bottom-width: 2px; border-bottom-color: gray; border-bottom-style: solid;*/">
        <a class="nav-link active" id="register-tab" data-toggle="tab"
           style="background: #f3f3f3; padding: 0; border: 0; margin-top: 1.5rem; margin-bottom: 1.5rem;"
           role="tab" aria-controls="register" aria-selected="true">
          Увійти
        </a>
      </li>
      <li class="nav-item"
          style="width: 50%; background: #707070; color: white; font-weight: bold; padding-top: 1rem; padding-bottom: 1rem; /*border-bottom-width: 2px; border-bottom-color: gray; border-bottom-style: solid;*/">
        <a class="btn" id="login-tab"
           href="registration"
           style="color: white; background-color: #707070; font-weight: bold">
          Зареєструватися
        </a>
      </li>
    </ul>
  </div>
  <div id="myTabContent"
       style="margin-top: 2px; padding: 1rem; background: #f9f9f9;">
    <div class="tab-pane fade show active" id="registerContainer" role="tabpanel"
         aria-labelledby="register-tab">
      <div class="alert alert-danger" role="alert" id="errorMessage"
           style="margin-top: 2rem;" [ngStyle]="{'display': errorMessage ? '' : 'none'}">{{errorMessage}}
      </div>

      <form #loginForm="ngForm">
        <div class="form-group" style="margin-top: 3rem;">
          <input type="text" class="input font-registration form-control" id="loginInput" name="loginInput"
                 placeholder="Логін / електронна пошта" [(ngModel)]="userLoginDto.login" #loginInput="ngModel"
                 style="min-height: 3rem;" required (change)="hideError();">

          <div *ngIf="loginInput.errors && (loginInput.dirty || loginInput.touched)" class="alert alert-danger" style="margin-top: 1rem;">
            <div [hidden]="!loginInput.errors.required" class="label">Вкажіть логін / електронну пошту</div>
          </div>
        </div>

        <div class="form-group" style="margin-top: 1rem;">
          <input type="password" class="input font-registration form-control" id="passInput" name="passInput"
                 placeholder="Пароль" [(ngModel)]="userLoginDto.password" #passInput="ngModel"
                 style="min-height: 3rem;" required (change)="hideError();">

          <div *ngIf="passInput.errors && (passInput.dirty || passInput.touched)" class="alert alert-danger" style="margin-top: 1rem;">
            <div [hidden]="!passInput.errors.required" class="label">Введіть пароль</div>
          </div>
        </div>
      </form>

      <button type="button" class="btn"
              style="min-height: 3rem; width: 50%; background-color: #707070; color: white; margin-top: 3rem;"
              [disabled]="!loginForm.valid" (click)="login();">Увійти
      </button>

      <a href="registration" class="registration-link">Зареєструватися</a>
    </div>
  </div>
</div>
