<app-header></app-header>

<div style="width: 60rem; margin: auto; display: flex; padding-top: 3rem;">

  <div style="width: 20%;">
    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; text-align: center;
                background-color: #f9f9f9;">
      <p style="margin-top: 1rem;">{{userName}}</p>
    </div>

    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; padding: 0.5rem;
                margin-top: 0.5rem; background-color: #f9f9f9;">
      <p>Ваші опитування:</p>

      <p *ngIf="myPolls.length === 0" style="margin-top: 1rem; color: #707070; text-align: center;">Наразі немає :(</p>

      <div *ngFor="let myPoll of myPolls" style="display: flex; margin-bottom: 0.5rem;">
        <i class="bi bi-stickies"></i>

        <a href="/viewPoll/{{myPoll.id}}" style="margin-left: 0.5rem; width: 70%; text-overflow: ellipsis;
            white-space: nowrap; overflow: hidden; color: #707070;">{{myPoll.title}}</a>

        <i style="width: 15%; text-align: right;">{{myPoll.reacted}}</i>
      </div>

      <div style="text-align: center; margin-top: 1rem;">
        <a *ngIf="myPolls.length > 0" href="/viewPolls/my" style="color: #707070;">Переглянути всі</a>
      </div>
    </div>

    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; padding: 0.5rem;
                margin-top: 0.5rem; background-color: #f9f9f9;">
      <p>Групи:</p>

      <p *ngIf="myGroups.length === 0" style="margin-top: 1rem; color: #707070; text-align: center;">Наразі немає :(</p>

      <div *ngFor="let myGroup of myGroups" style="display: flex; margin-bottom: 0.5rem;">
        <i class="bi bi-people"></i>

        <a href="/viewGroup/{{myGroup.id}}" class="text-with-three-dots" style="margin-left: 0.5rem; width: 70%; color: #707070;">{{myGroup.name}}</a>

        <i style="width: 15%; text-align: right;">{{myGroup.newContent}}</i>
      </div>
    </div>
  </div>

  <div style="width: 60%; background-color: #f9f9f9; margin-left: 0.5rem; border-color: darkgrey; border-width: 1px;
              border-style: solid; border-radius: 5px;">
    <a href="createPoll" class="btn"
            style="min-height: 2rem; width: 50%; background-color: #707070; margin-top: 0.5rem; color: white; margin-left: 25%;">Створити опитування
    </a>

    <div *ngFor="let poll of polls" id="poll-div-{{poll.id}}" style="background-color: white; margin-left: 1rem; margin-right: 1rem;
         margin-top: 1rem; border-radius: 5px; padding: 1rem;">
      <h6>{{poll.title}}</h6>

      <p *ngIf="poll.description" id="poll-desc-{{poll.id}}" class="text-with-three-dots three-lines-text" style="margin-top: 1rem; margin-bottom: 0;">{{poll.description}}</p>

      <a style="margin-top: 0; color: #707070;" href="#" (click)="disableTextOverflow('poll-desc-' + poll.id)">(...)</a>>

      <div *ngIf="poll.options.length > 0" style="margin-top: 1rem;">
        <div *ngFor="let option of poll.options" class="form-check">
          <input class="form-check-input" type="radio" name="poll-{{poll.id}}-option"
                 id="poll-{{poll.id}}-option-{{option.id}}" (input)="selectOption(poll.id);">
          <label class="form-check-label" for="poll-{{poll.id}}-option-{{option.id}}">
            {{option.value}}
          </label>
        </div>

        <button class="btn" id="poll-submit-{{poll.id}}"
                style="min-height: 2rem; width: 50%; background-color: #707070; margin-top: 1rem; color: white; display: none;">Проголосувати
        </button>
      </div>
    </div>
  </div>

  <div style="width: 20%;">

  </div>
</div>
