<app-header></app-header>

<div class="main-page-main-div">

  <div class="main-page-left-div">
    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; text-align: center;
                background-color: #f9f9f9;">
      <p *ngIf="userName" style="margin-top: 1rem;">{{userName}}</p>
      <p *ngIf="!userName" style="margin-top: 1rem;">Гість</p>
    </div>

    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; padding: 0.5rem;
                margin-top: 0.5rem; background-color: #f9f9f9;">
      <p>Ваші опитування:</p>

      <p *ngIf="myPolls.length === 0" style="margin-top: 1rem; color: #707070; text-align: center;">Наразі немає :(</p>

      <div *ngFor="let myPoll of myPolls" style="display: flex; margin-bottom: 0.5rem;">
        <i class="bi bi-stickies"></i>

        <a href="/viewPoll/{{myPoll.id}}" style="margin-left: 0.5rem; width: 70%; text-overflow: ellipsis;
            white-space: nowrap; overflow: hidden; color: #707070;">{{myPoll.title}}</a>

        <i style="width: 15%; text-align: right;">{{myPoll.reacted}}</i>
      </div>

      <div style="text-align: center; margin-top: 1rem;">
        <a *ngIf="myPolls.length > 0" href="/viewMyPolls" style="color: #707070;">Переглянути всі</a>
      </div>
    </div>

    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; padding: 0.5rem;
                margin-top: 0.5rem; background-color: #f9f9f9;">
      <p>Групи:</p>

      <p *ngIf="myGroups.length === 0" style="margin-top: 1rem; color: #707070; text-align: center;">Наразі немає :(</p>

      <div *ngFor="let myGroup of myGroups" style="display: flex; margin-bottom: 0.5rem;">
        <i class="bi bi-people"></i>

        <a href="/viewGroup/{{myGroup.id}}" class="text-with-three-dots" style="margin-left: 0.5rem; width: 70%; color: #707070;">{{myGroup.name}}</a>

        <i style="width: 15%; text-align: right;">{{myGroup.newContent}}</i>
      </div>
    </div>
  </div>

  <div class="main-page-center-div">
    <a href="createPoll" class="btn btn-create-poll">Створити опитування
    </a>

    <div *ngFor="let poll of polls" id="poll-div-{{poll.id}}" style="background-color: white; margin-left: 1rem; margin-right: 1rem;
         margin-top: 1rem; border-radius: 5px; padding: 1rem;" [ngClass]="poll.requiredForFilling === true ? 'required-border' : ''">
      <a href="viewPoll/{{poll.id}}" style="color: #707070; font-weight: bold;">{{poll.title}}</a>

      <p *ngIf="poll.description" id="poll-desc-{{poll.id}}" class="text-with-three-dots three-lines-text" style="margin-top: 1rem; margin-bottom: 0;">{{poll.description}}</p>

      <button style="margin-top: 0; color: #707070; padding: 0;" class="btn bi bi-zoom-in" (click)="disableTextOverflow('poll-desc-' + poll.id)"></button>

      <div *ngIf="poll.options.length > 0" style="margin-top: 1rem;">
        <div *ngFor="let option of poll.options" [ngClass]="poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce ? 'progress' : 'form-check'" style="margin-bottom: 0.5rem; width: 100%; padding-left: 0; height: 2.5rem;">
          <input *ngIf="!(poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce)" class="btn-check" type="radio" name="poll-{{poll.id}}-option" value="{{option.id}}"
                 id="poll-{{poll.id}}-option-{{option.id}}" (input)="selectOption(poll.id);">
          <label *ngIf="!(poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce)" class="btn btn-outline-secondary" for="poll-{{poll.id}}-option-{{option.id}}" style="width: 100%;">
            {{option.value}}
          </label>

          <div *ngIf="poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce" class="progress-bar progress-bar-striped" role="progressbar" title="{{option.value}}"
               [ngStyle]="{'width.%': option.votes > 0 && poll.canVoteOnlyOnce ? 100 : calculateOptionPercentage(poll.id, option.id), 'background-color': poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce ? '#707070' : 'darkgrey'}"
               style="height: 2.5rem;">{{option.votes > 0 && poll.canVoteOnlyOnce ? option.value : calculateOptionPercentage(poll.id, option.id) + '%'}}</div>
        </div>

        <button *ngIf="!poll.haveMeVoted" class="btn btn-vote" id="poll-submit-{{poll.id}}" (click)="vote(poll.id);">Проголосувати</button>
      </div>
    </div>

    <button *ngIf="polls.length > 0" class="btn btn-create-poll" style="margin-top: 3rem; margin-bottom: 0.5rem;"
            id="loadMoreBtn" (click)="loadMorePolls();">Завантажити ще</button>

    <h6 *ngIf="polls.length === 0" style="text-align: center;">Немає контенту для відображення</h6>
  </div>

  <div style="width: 20%;">

  </div>
</div>
