<app-header></app-header>

<div class="view-poll-main-div">

  <div class="view-poll-left-div">
    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; text-align: center;
                background-color: #f9f9f9;">
      <p *ngIf="poll.anonymousForAccessed || poll.anonymousForReacted && !poll.haveMeVoted" style="margin-top: 1rem;">Опитування анонімне для Вас</p>

      <div *ngIf="!(poll.anonymousForAccessed || poll.anonymousForReacted && !poll.haveMeVoted)" style="text-align: left;">
        <h5 style="margin-left: 1rem; margin-top: 1rem;">Голоси:</h5>
        <div *ngFor="let option of poll.options; index as optionIndex" style="margin-bottom: 2rem; margin-left: 1rem; margin-top: 1rem;">
          <p style="font-weight: bold; margin: 0;">{{option.value}}</p>

          <p *ngFor="let username of option.usersVoted; index as i;" style="margin: 0;"><span *ngIf="i < displayVotesCount[optionIndex]">{{option.fullNamesVoted[username]}}</span></p>

          <button *ngIf="option.usersVoted.length > DISPLAY_VOTES_COUNT" style="margin-top: 0; color: #707070; padding: 0;" class="btn bi" [ngClass]="this.displayVotesCount[optionIndex] === DISPLAY_VOTES_COUNT ? 'bi-zoom-in' : 'bi-zoom-out'" (click)="displayAllVotes(optionIndex)"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="view-poll-center-div">

    <div style="background-color: white; margin: 1rem; border-radius: 5px; padding: 1rem;" [ngClass]="poll.requiredForFilling === true ? 'required-border' : ''">
      <div style="display: flex;">
        <h4 style="width: 100%;">{{poll.title}}</h4>
        <div style="text-align: right; width: 100%;">
          <a *ngIf="poll.ownerUsername === loggedUserName" href="editPoll/{{poll.id}}" class="bi bi-pencil-square" style="margin: auto; font-size: 1.5rem; color: #707070;"></a>
        </div>
      </div>

      <h6 *ngIf="poll.requiredForFilling === true && !poll.haveMeVoted" style="margin-top: 1rem; color: red;">Це опитування обов'язкове для заповнення</h6>

      <p *ngIf="poll.description" id="poll-desc-{{poll.id}}" class="text-with-three-dots ten-lines-text"
           style="margin-top: 1rem; margin-bottom: 0;" [innerHTML]="poll.description">
      </p>

      <button style="margin-top: 0; color: #707070; padding: 0;" class="btn bi" [ngClass]="this.descriptionFullDisplayed ? 'bi-zoom-out' : 'bi-zoom-in'" (click)="disableTextOverflow('poll-desc-' + poll.id)"></button>

      <div *ngIf="poll.options.length > 0" style="margin-top: 1rem;">
        <div *ngFor="let option of poll.options" style="margin-bottom: 0.5rem;">
          <div [ngClass]="poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce ? 'progress' : 'form-check'"
               style="width: 100%; padding-left: 0; height: 2.5rem;">
            <input *ngIf="!(poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce)" class="btn-check" type="radio" name="poll-{{poll.id}}-option" value="{{option.id}}"
                   id="poll-{{poll.id}}-option-{{option.id}}" (input)="selectOption(poll.id);">
            <label *ngIf="!(poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce)" class="btn btn-outline-secondary" for="poll-{{poll.id}}-option-{{option.id}}" style="width: 100%;">
              {{option.value}}
            </label>

            <div *ngIf="poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce" class="progress-bar progress-bar-striped" role="progressbar" title="{{option.value}}"
                 [ngStyle]="{'width.%': option.votes > 0 && poll.canVoteOnlyOnce ? 100 : calculateOptionPercentage(poll.id, option.id), 'background-color': poll.haveMeVoted || option.votes > 0 && poll.canVoteOnlyOnce ? '#707070' : 'darkgrey'}"
                 style="height: 2.5rem;">{{option.votes > 0 && poll.canVoteOnlyOnce ? option.value : calculateOptionPercentage(poll.id, option.id) + '%'}}</div>
          </div>

          <div *ngIf="poll.haveMeVoted">{{option.value}} - Голосів: {{option.votes}}</div>
        </div>

        <button *ngIf="!poll.haveMeVoted" class="btn btn-vote" id="poll-submit-{{poll.id}}" (click)="vote(poll.id);">Проголосувати</button>
      </div>
    </div>

    <div *ngIf="poll.ownerUsername === loggedUserName" class="view-poll-admin-vote-div">
      <div style="display: flex;">
        <p style="color: red; width: 100%;">Секція адміністратора</p>

        <div style="text-align: right; width: 100%;">
          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#adminVoteCollapse"
                  aria-expanded="false" aria-controls="adminVoteCollapse" (click)="showAdminPanel();">{{adminPanelShown ? 'Приховати' : 'Розгорнути'}}</button>
        </div>
      </div>
      <div class="collapse" id="adminVoteCollapse">
        <form id="adminVoteForm" #adminVoteForm="ngForm">
          <div *ngIf="poll.groupNames && poll.groupNames.length > 0">
            <p>Проголосувати за користувача:</p>

            <select id="admin-select-username" name='admin-select-username' class="form-control" (change)="setAvailableOptionsForUserName();"
                    #adminSelectUsername="ngModel" [(ngModel)]="adminChosenUsername" required>
              <option disabled></option>
              <option *ngFor="let username of availableUserNamesForAdmin" value="{{username}}">{{adminUserNamesToFullNames[username]}}</option>
            </select>

            <p style="margin-top: 1rem;">Проголосувати за опцію:</p>

            <select id="admin-select-option" name="admin-select-option" class="form-control"
                    #adminSelectOption="ngModel" [(ngModel)]="adminChosenOption" required>
              <option disabled></option>
              <option *ngFor="let option of availableOptionsForAdmin">{{option}}</option>
            </select>

            <button class="btn btn-danger" style="margin-top: 1rem;" (click)="voteAsAdmin();"
                    [disabled]="!adminVoteForm.form.valid">Проголосувати як адміністратор</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="view-poll-left-div-mobile">
    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; text-align: center;
                background-color: #f9f9f9;">
      <p *ngIf="poll.anonymousForAccessed || poll.anonymousForReacted && !poll.haveMeVoted" style="margin-top: 1rem;">Опитування анонімне для Вас</p>

      <div *ngIf="!(poll.anonymousForAccessed || poll.anonymousForReacted && !poll.haveMeVoted)" style="text-align: left;">
        <h5 style="margin-left: 1rem; margin-top: 1rem;">Голоси:</h5>
        <div *ngFor="let option of poll.options; index as optionIndex" style="margin-bottom: 2rem; margin-left: 1rem; margin-top: 1rem;">
          <p style="font-weight: bold; margin: 0;">{{option.value}}</p>

          <p *ngFor="let username of option.usersVoted; index as i;" style="margin: 0;"><span *ngIf="i < displayVotesCount[optionIndex]">{{username}}</span></p>

          <button style="margin-top: 0; color: #707070; padding: 0;" class="btn bi" [ngClass]="this.displayVotesCount[optionIndex] === DISPLAY_VOTES_COUNT ? 'bi-zoom-in' : 'bi-zoom-out'" (click)="displayAllVotes(optionIndex)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
