<app-header></app-header>

<div class="group-main-div">

  <div class="group-left-div">
    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; text-align: center;
                background-color: #f9f9f9;">
      <p style="margin-top: 1rem;">{{group.title}}</p>
    </div>

    <div style="border-color: darkgrey; border-width: 1px; border-style: solid; border-radius: 5px; padding: 0.5rem;
                margin-top: 0.5rem; background-color: #f9f9f9; text-align: center;">
      <h6>Учасники:</h6>

      <div *ngFor="let memberName of group.memberNames; index as i;" id="addedMembers-{{i}}"
           style="width: 100%; display: flex; margin-top: 0.5rem;">
        <input type="text" class="input form-control" id="addedMember-{{i}}" name="addedMember-{{i}}"
               autocomplete="off" value="{{memberName}}" disabled>

        <button class="btn" style="color: #f3f3f3; background-color: #707070; height: 100%;"
                [disabled]="memberName === username" (click)="removeMemberNameOption(i);">&nbsp;x&nbsp;</button>
      </div>

      <div *ngFor="let memberEmail of group.memberEmails; index as i;" id="addedEmails-{{i}}"
           style="width: 100%; display: flex; margin-top: 0.5rem;">
        <input type="text" class="input form-control" id="addedEmail-{{i}}" name="addedEmail-{{i}}"
               autocomplete="off" value="{{memberEmail}}" disabled>

        <button class="btn" style="color: #f3f3f3; background-color: #707070; height: 100%;"
                (click)="removeMemberEmailOption(i);">&nbsp;x&nbsp;</button>
      </div>

      <h6 style="margin-top: 1rem;">Додати:</h6>

      <input id="memberNameInput" name="memberNameInput" class="form-control" list="availableUserNamesList" autocomplete="off"
             placeholder="Вкажіть користувача" [(ngModel)]="memberNameInputValue" (input)="addMemberNameOption();">
      <datalist id="availableUserNamesList">
        <option *ngFor="let username of availableUserNames">{{username}}</option>
      </datalist>
    </div>
  </div>

  <div class="group-center-div">
    <div style="display: flex;">
      <h4>Група</h4>
      <div *ngIf="group.id" style="text-align: right; width: 100%;">
        <a href="viewGroup/{{group.id}}" class="bi bi-eye-fill" style="margin: auto; font-size: 1.5rem; color: #707070;"></a>
      </div>
    </div>

    <form #groupForm="ngForm">
      <div class="form-group" style="margin-top: 3rem;">
        <input type="text" class="input font-profile form-control" id="titleInput" name="titleInput" required
               placeholder="Назва" style="min-height: 3rem;" [(ngModel)]="group.title" #titleInput="ngModel">

        <div *ngIf="titleInput.errors && (titleInput.dirty || titleInput.touched)" class="alert alert-danger" style="margin-top: 1rem;">
          <div [hidden]="!titleInput.errors.required" class="label">Вкажіть назву</div>
        </div>
      </div>

      <div class="form-group" style="margin-top: 1rem;">
        <textarea class="input font-profile form-control" id="descriptionInput" name="descriptionInput" required
                  placeholder="Опис" style="min-height: 3rem;" [(ngModel)]="group.description" #descriptionInput="ngModel"></textarea>

        <div *ngIf="descriptionInput.errors && (descriptionInput.dirty || descriptionInput.touched)" class="alert alert-danger" style="margin-top: 1rem;">
          <div [hidden]="!descriptionInput.errors.required" class="label">Вкажіть опис</div>
        </div>
      </div>
    </form>

    <button type="button" class="btn save-group-btn" *ngIf="group.id"
            [disabled]="!groupForm.valid" (click)="updateGroup();">Оновити дані групи
    </button>

    <button type="button" class="btn save-group-btn" *ngIf="!group.id"
            [disabled]="!groupForm.valid" (click)="createGroup();">Створити групу
    </button>

    <p style="margin-top: 3rem;">Додати користувачів за електронними адресами:</p>

    <form #emailForm="ngForm">
      <input id="memberEmailInput" name="memberEmailInput" class="form-control" autocomplete="off" required
             placeholder="Вкажіть електронну адресу" [(ngModel)]="memberEmailInputValue" #emailInput="ngModel"
             pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])">
      <div *ngIf="emailInput.errors && (emailInput.dirty || emailInput.touched)" class="alert alert-danger" style="margin-top: 1rem;">
        <div class="label">Електронна пошта не відповідає шаблону</div>
      </div>

      <button type="button" class="btn save-group-btn" style="margin-top: 1rem;"
              [disabled]="!emailForm.valid" (click)="addMemberEmailOption();">Додати електронну адресу</button>
    </form>
  </div>
</div>
